body{
    background-color:lightblue;
}
#title{
    text-align:center;
    margin-top:30px;
    color:yellow;
    font-size: 50px;
    font-weight: bold;

}
#city{
    padding:15px;
    font-size:15px;


}
#citydivide{
    display:flex;
    justify-content:center;
}
#info{
    margin-top:30px;
    display:block;
    text-align:center;

}
#listInfo{
    list-style-type: none;
    font-size:20px;
    margin:0;
    padding:0;
}
img{
    margin-top:30px;
    font-size:25px;
    width:150px;
    height:150px;
}
#btn{
    margin-left:15px;
    background-color: red;
    border:none;
    border-radius:5px;
    font-size:15px;
    font-weight:bold;
    color:white;


}